.acordion {
    width: 400px;
    height: auto;

    &-item {
        width: 100%;
        padding: 10px;
        background-color: $dark-grey;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    &-icon {
        font-size: 10px;

        & svg {
            transition: all 0.3s;
        }

        &-active {
            & svg {
                transform: rotate(90deg);
            }
        }
    }

    &-title {
        margin: 0 auto;
        text-transform: uppercase;
    }

    &-content {
        height: 0px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        text-transform: uppercase;
        transition: all 0.2s;
        background-color: $light-grey;

        &-active {
            padding: 20px;
            height: auto;
            visibility: visible;
            opacity: 1;
        }
    }
}
