.main-loader-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 10001;
    top: 0px;
    width: 100%;
    height: 100%;

    .loader {
        svg {
            width: 180px;
            height: 80px;
        }
    }
}

.loader-enter {
    opacity: 0;
    transform: scale(1);

    .window {
        animation: ScaleIn 0.4s;
    }
}
.loader-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s, transform 0.4s;
}

.loader-exit {
    opacity: 1;

    .window {
        animation: ScaleIn 0.4s reverse;
    }
}
.loader-exit-active {
    opacity: 0;
    //transform: scale(0.9);
    transition: opacity 0.4s, transform 0.4s;
}
