@import "../../../../css/variables.scss";

.payment-info {
    margin: 4rem 0;

    .main-content {
        &--form {
            .group-title-holder {
                h2.title {
                    font-weight: 300;
                    line-height: 1.5;
                    color: #333;
                    margin-bottom: 3rem;
                    margin-top: 3rem;
                    font-size: 2.4rem;
                }
            }

            .form-notice-text {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #999;
                display: block;

                @include lg {
                    margin-top: 2rem;
                }
            }

            button.promo-code-button {
                position: relative;
                font-size: 1.4rem;
                font-weight: 500;
                color: #f14d4d;
                line-height: normal;
                padding: 10px 50px;
                height: auto;
                border-radius: 3px;
                border: 1px solid #f14d4d;
                box-shadow: inset 2px 1000px 1px #fff;
                transition: 0.4s all ease-in;
                z-index: 2;

                &:hover {
                    color: $white;

                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)), linear-gradient(101deg, #f14d4d, #ec5575);
                    background-origin: border-box;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.4s ease-in;
                }
            }
        }

        &--terms-of-use {
            margin-top: 3rem;
        }

        &--payment-options {
            .options {
                border: 1px solid #ccc;
                padding: 0 2rem;
                min-height: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &.cards {
                    margin-bottom: 40px;
                }

                .text-holder {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                .checkbox {
                    position: relative;
                    z-index: 2;
                    border: 1px solid $blue;
                    border-radius: 100%;
                    width: 15px;
                    height: 15px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.4s ease-in;
                    margin-right: 10px;

                    @include lg {
                        width: 15px;
                        height: 15px;
                    }

                    &.active {
                        .filled {
                            background-color: $blue;
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .filled {
                        width: calc(100% - 6px);
                        height: calc(100% - 6px);
                        background-color: transparent;
                        opacity: 0;
                        visibility: hidden;
                        border-radius: 100%;
                        display: block;
                        transition: all 0.4s ease-in;
                    }
                }

                .name {
                    font-weight: 700;
                    color: #666;
                    font-size: 1.2rem;

                    @include lg {
                        font-size: 1.6rem;
                    }
                }

                .cards-holder {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    img {
                        max-width: 40px;
                        max-height: 100%;

                        &:first-of-type {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }

        &--actions-box {
            width: 100%;
            margin: 4rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button-back {
                display: flex;
                align-self: center;
                padding-left: 0;

                &:hover {
                    .button-name {
                        color: $dark-blue;
                    }
                    svg {
                        fill: $dark-blue;
                    }
                }

                .button-name {
                    display: block;
                    color: $blue;
                    font-weight: 400;
                    font-size: 1.6rem;
                    transition: all 0.4s;
                }

                svg {
                    width: 18px;
                    height: 18px;
                    fill: $blue;
                    margin-right: 5px;
                    transition: all 0.4s;
                }
            }
        }
    }
}
